
    <h1>Análise de whatsapp</h1>
    <br>

    <h2>Informações gerais</h2>
    <p> <b>Começo </b>:   {{dtinicio}} </p>
    <p> <b>Fim </b>:   {{dtfim}}</p>
    <p> {{dias}} dias, {{horasDias}} horas e {{minutosHoras}} minutos de conversas.</p>
    <p> <b>Quantidade de dias com alguma mensagem</b> :{{convDias}} </p>
    <p> <b>Total de mensagens </b>: {{totalmsg}}</p>
    <br>

    <h2>Informações individuais</h2>
    <table class="table">
                <thead class="thead-dark">
                    <tr>
                    <th scope="col">Contato (RT)</th>
                    <th scope="col">Quantidade M. (QM)</th>
                    <th scope="col">Media P. (MP)</th>
                    <th scope="col">Mensagens .M (MM)</th>
                    <th scope="col">Media P. Contexto (MM)</th>
                    </tr>
                </thead>
                <tbody>
                 {{#each msgsRemetentes as |item| }}
                    <tr>
                        <th scope="row">{{item.nome}}</th>
                        <td>{{item.mgsrt.length}}</td>
                        <td>{{item.mediaPalavras}}</td>
                        <td>{{item.mediaMsgContexto}}</td>
                        <td>{{item.mediaPalavrasContexto}}</td>
                    </tr>
                 {{/each}}
           </tbody>
   </table>


   
   

    

    
