
    <h1>Análise de whatsapp</h1>
    <br>

    <h2>Informações gerais</h2>
    <p> <b>Começo </b>:   {{dtinicio}} </p>
    <p> <b>Fim </b>:   {{dtfim}}</p>
    <p> {{dias}} dias, {{horasDias}} horas e {{minutosHoras}} minutos de conversas.</p>
    <p> <b>Quantidade de dias com alguma mensagem</b> :{{convDias}} </p>
    <p> <b>Total de mensagens </b>: {{totalmsg}}</p>
     
     <br>
    <h2>Informações individuais</h2>
    <p><b>(RT)</b> - Nome do contato remetente </p>
    <p><b>(QM)</b> - Quantidade de mensagens enviadas </p>
    <p><b>(MP)</b> - Média de palavras por mensagem. </p>
    <p><b>(MM)</b> - Média de mensagens em conjunto. </p>
    <p><b>(PC)</b> - Média de palavras por conjunto de mensagens </p>
    <p><b>(ST)</b> - Média de contextualização das mensagens em conjunto </p>

        <table class="table">
                    <thead class="thead-dark">
                        <tr>
                        <th scope="col"> Contato (RT)</th>
                        <th scope="col">            </th>
                        <th scope="col"> Quantidade (QM)</th>
                        <th scope="col">            </th>
                        <th scope="col"> Palavras (MP)</th>
                        <th scope="col">            </th>
                        <th scope="col"> Mensagens (MM)</th>
                        <th scope="col">            </th>
                        <th scope="col"> Contexto (PC)</th>
                      

                        </tr>
                    </thead>
                    <tbody>
                    {{#each msgsRemetentes as |item| }}
                        <tr>
                            <th scope="row">{{item.nome}}</th>
                            <td>             </td>
                            <td>{{item.mgsrt.length}}</td>
                            <td>             </td>
                            <td>{{item.mediaPalavras}}</td>
                            <td>             </td>
                            <td>{{item.mediaMsgContexto}}</td>
                            <td>             </td>
                            <td>{{item.mediaPalavrasContexto}}</td>
                            <td>             </td>
                    {{/each}}
            </tbody>
    </table>


     <br>
    
    <h2> Distribuição de frequência </h2>
    <p><b>(fi)</b> - Frequência de ocorrência </p>
    <p><b>(xi)</b> - Quantidade de mensagens enviadas </p>
    <p><b>(xi*fi)</b> - Média de palavras escritas por mensagem. </p>
    <p><b>(f.rel)</b> - Média de mensagens enviadas em conjunto. </p>
  
   
    <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col"> contato (ct)</th>
                        <th scope="col">            </th>
                        <th scope="col"> frequecia (fi)</th>
                        <th scope="col">            </th>
                        <th scope="col"> Mensagens (f.rel)</th>
                        <th scope="col">            </th>
                    </tr>
                </thead>
                <tbody>
                 {{#each distribFrequence as |item| }}
                    <tr>
                        <th scope="row">{{item.element.nome}}</th>
                        <td>             </td>
                        <td>{{item.element.mgsrt.length}}</td>
                        <td>             </td>
                        <td>{{item.frel}} %</td>
                        <td>             </td>
                    </tr>
               {{/each}} 
           </tbody>
    </table>

    <h3> Dias das semanas:</h3>
    <table class="table">
                <thead class="thead-dark">
                    <tr>
                    <th scope="col">Dia da semana</th>
                    <th scope="col">            </th>
                    <th scope="col">Mensagens</th>
                    <th scope="col">            </th>
                    <th scope="col">Qtd dias</th>
                    <th scope="col">            </th>
                    <th scope="col">Media semanal</th>
                    <th scope="col">            </th>
                    <th scope="col">Porcentagem semanal</th>
                 
                    </tr>
                </thead>
                <tbody>
                 {{#each week as |item| }}
                    <tr>
                        <th scope="row">{{item.semana}}</th>
                        <td>             </td>
                        <td>{{item.cont}}</td>
                        <td>             </td>
                        <td>{{item.qtd}}</td>
                        <td>             </td>
                        <td>{{item.media}}</td>
                        <td>             </td>
                        <td>{{item.porcent}} %</td>

                    </tr>
                 {{/each}}
           </tbody>
   </table>
   <br>
   <h3> Periodos:</h3>
   <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Periodo</th>
                        <th scope="col">            </th>
                        <th scope="col">Mensagens</th>
                         <th scope="col">            </th>
                        <th scope="col">Horas por periodo</th>
                         <th scope="col">            </th>
                        <th scope="col">Media por hora</th>
                         <th scope="col">            </th>
                        <th scope="col">% por hora do periodo</th>
                    </tr>
                </thead>
                <tbody>
                 {{#each periodos as |item| }}
                    <tr>
                        <th scope="row">{{item.periodo}}</th>
                        <td>             </td>
                        <td>{{item.cont}}</td>
                        <td>             </td>
                        <td>{{item.qtd}}</td>
                        <td>             </td>
                        <td>{{item.media}}</td>
                        <td>             </td>
                        <td>{{item.porcent}} %</td>
                    </tr>
                 {{/each}}
           </tbody>
   </table>

  

   

  
