
    <h1>Análise de whatsapp</h1>
    <br>

    <h2>Informações gerais</h2>
    <p> <b>Começo </b>:   {{dtinicio}} </p>
    <p> <b>Fim </b>:   {{dtfim}}</p>
    <p> {{dias}} dias, {{horasDias}} horas e {{minutosHoras}} minutos de conversas.</p>
    <p> <b>Quantidade de dias com alguma mensagem</b> :{{convDias}} </p>
    <p> <b>Total de mensagens </b>: {{totalmsg}}</p>
    <br>

    <h2>Informações individuais</h2>
    {{#each msgsRemetentes as |item| }}
        <p><b>{{item.nome}}</b> : {{item.mgsrt.length}}</p>
    {{/each}}
    
    <h4> Analise de interatividade</h4>
    {{#each dados as |line| }}
        <p><b>{{line.nome}}</b> : {{line.mediaPalavras}} media de palavras por mensagens {{line.mediaPalavrasContexto}} media palavras contexto {{line.mediaMsgContexto}}  mensagens por contexto</p>
    {{/each}}


   
    
    

    
